@media screen and (max-width: 600px) {
  body {
    position: relative;
    height: auto;
    z-index: 1;
  }

  li {
    width: 100%;
  }

  .aHeader {
    padding: 30px;
    margin: 10px;
  }

  header {
    margin: auto;
    padding: auto;
    height: 50px;
  }

  .liHeader {
    margin-left: 10px;
    display: flex;
    list-style-type: none;
    justify-content: center;

    height: 50px;
    font-size: 20px;
    align-items: center;
    margin-left: 10px;
  }

  .liHeader1 {
    display: flex;
    list-style-type: none;
    justify-content: center;
    /* padding: 20px; */
    height: 50px;
    font-size: 20px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }
  .liHeader2 {
    display: flex;
    list-style-type: none;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    align-items: center;
    margin-right: 10px;
  }

  .ulHeader {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    padding: 50px;
    text-decoration: none;
    color: black;
    font-size: 25px;
  }

  p {
    text-decoration: none;
    padding: 50px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  section {
    background-color: burlywood;
  }

  .header {
    width: 100%;
    height: 80%;
    align-items: center;
  }

  #menuPlanete {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
      "mercury mercury venus venus earth earth"
      "mars mars jupiter jupiter saturn saturn"
      "uranus uranus uranus neptune neptune neptune";
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    z-index: 0;
    position: fixed;
    opacity: 0;
  }

  #julien {
    z-index: -1;
    position: absolute;
  }

  .planete {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  h4 {
    font-size: 20px;
    display: flex;
  }

  #mercury {
    grid-area: mercury;
  }

  #venus {
    grid-area: venus;
  }

  #earth {
    grid-area: earth;
  }

  #mars {
    grid-area: mars;
  }

  #jupiter {
    grid-area: jupiter;
  }

  #saturn {
    grid-area: saturn;
  }

  #uranus {
    grid-area: uranus;
  }

  #neptune {
    grid-area: neptune;
  }
}
