* {
     --planetSize: 1.2;
}

#mercury {
     margin: 1.5rem;
     z-index: 1;
     width: calc(var(--planetSize) * 3rem);
     height: calc(var(--planetSize) * 3rem);
     background: url("../textures/mercury2k.jpg");
     border-radius: 50%;
     background-size: 200%;
     box-shadow: inset 16px 0 40px 3px rgb(0, 0, 0),
          inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
     animation-name: rotate;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     cursor: pointer;
     transition: transform 1s;
}

#venus {
     margin: 1.5rem;
     z-index: 1;
     width: calc(var(--planetSize) * 4rem);
     height: calc(var(--planetSize) * 4rem);
     background: url("../textures/venus2k.jpg");
     border-radius: 50%;
     background-size: 200%;
     box-shadow: inset 0px 0px 40px 3px rgb(0, 0, 0),
          inset -3px 40px 40px 2px rgba(255, 255, 255, 0.2);
     animation-name: rotate;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     cursor: pointer;
     transition: transform 1s;
}

#earth {
     margin: 1.5rem;
     z-index: 1;
     width: calc(var(--planetSize) * 5rem);
     height: calc(var(--planetSize) * 5rem);
     background: url("../textures/earth2k.jpg");
     border-radius: 50%;
     background-size: 200%;
     box-shadow: inset 0px 0px 40px 3px rgb(0, 0, 0),
          inset -3px 40px 40px 2px rgba(255, 255, 255, 0.2);
     animation-name: rotate;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     cursor: pointer;
     transition: transform 1s;
}

#mars {
     margin: 1.5rem;
     z-index: 1;
     width: calc(var(--planetSize) * 4.5rem);
     height: calc(var(--planetSize) * 4.5rem);
     background: url("../textures/mars2k.jpg");
     border-radius: 50%;
     background-size: 200%;
     box-shadow: inset 0px 0px 40px 3px rgb(0, 0, 0),
          inset -3px 40px 40px 2px rgba(255, 255, 255, 0.2);
     animation-name: rotate;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     cursor: pointer;
     transition: transform 1s;
}

#jupiter {
     margin: 1.5rem;
     z-index: 1;
     width: calc(var(--planetSize) * 15rem);
     height: calc(var(--planetSize) * 15rem);
     background: url("../textures/jupiter2k.jpg");
     border-radius: 50%;
     background-size: 200%;
     box-shadow: inset 0px 0px 40px 3px rgb(0, 0, 0),
          inset -3px 40px 40px 2px rgba(255, 255, 255, 0.2);
     animation-name: rotate;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     cursor: pointer;
     transition: transform 1s;
}

#saturn {
     margin: 1.5rem;
     z-index: 1;
     width: calc(var(--planetSize) * 10rem);
     height: calc(var(--planetSize) * 10rem);
     background: url("../textures/saturn2k.jpg");
     border-radius: 50%;
     background-size: 200%;
     box-shadow: inset 0px 0px 40px 3px rgb(0, 0, 0),
          inset -3px 40px 40px 2px rgba(255, 255, 255, 0.2);
     animation-name: rotate;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     cursor: pointer;
     transition: transform 1s;
}

#uranus {
     margin: 1.5rem;
     z-index: 1;
     width: calc(var(--planetSize) * 8rem);
     height: calc(var(--planetSize) * 8rem);
     background: url("../textures/duranustexture.jpg");
     border-radius: 50%;
     background-size: 200%;
     box-shadow: inset 0px 0px 40px 3px rgb(0, 0, 0),
          inset -3px 40px 40px 2px rgba(255, 255, 255, 0.2);
     animation-name: rotate;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     cursor: pointer;
     transition: transform 1s;
}

#neptune {
     margin: 1.5rem;
     z-index: 1;
     width: calc(var(--planetSize) * 7rem);
     height: calc(var(--planetSize) * 7rem);
     background: url("../textures/dnepturetexture.jpg");
     border-radius: 50%;
     background-size: 200%;
     box-shadow: inset 0px 0px 40px 3px rgb(0, 0, 0),
          inset -3px 40px 40px 2px rgba(255, 255, 255, 0.2);
     animation-name: rotate;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     cursor: pointer;
     transition: transform 1s;
}

@media only screen and (min-width: 800px) {
     #mercury:hover {
          transform: scale(2);
     }
     #venus:hover {
          transform: scale(1.7);
     }

     #earth:hover {
          transform: scale(1.7);
     }
     #mars:hover {
          transform: scale(1.7);
     }
     #jupiter:hover {
          transform: scale(1.3);
     }
     #saturn:hover {
          transform: scale(1.5);
     }

     #uranus:hover {
          transform: scale(1.5);
     }

     #neptune:hover {
          transform: scale(1.5);
     }
}

@keyframes rotate {
     from {
          background-position-x: 0px;
     }
     to {
          background-position-x: 200%;
     }
}
