@font-face {
    font-family: "titleFont";
    src: url("/styles/font/ethnocentric\ rg.ttf") format("woff2");
}

@font-face {
    font-family: "textFont";
    src: url("/styles/font/Anita\ semi\ square.ttf");
}

* {
    padding: 0;
    margin: 0;
}


.maincontainer {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.textformcontainer {
    z-index: 1;
}

.cpictures {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    /*margin: 0.rem;
    border-top: 1px solid rgba(204, 89, 12, 0.705);
    border-right: 1px solid rgba(204, 89, 12, 0.705);
    border-top-right-radius: 5%;
    border-top-left-radius: 10%;*/
}

.cpictures img {
    max-width: 40vw;
    height: auto;
    border-radius: 50%;
    border: 2px solid cornsilk;
    margin: 1rem 0;
}


.ctext {
    z-index: 1;
    font-family: "textFont";
    color: cornsilk;
    text-align: left;
    /*text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;*/
    margin: 0.5rem;
    padding: 0.2rem;
    border-left: 2px solid cornsilk;
    border-bottom: 2px solid cornsilk;
    border-radius: 20px 0 10px 20px;
    height: 290px;
    overflow: scroll;
    margin-bottom: 2rem;

}

.ctext p {
    padding: 0.3rem;
    line-height: 1.3rem;
    font-size: 0.8rem;
}

h1 {
    z-index: 1;
    position: relative;
    color: cornsilk;
    font-family: "titleFont";
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
}

.formulary {
    z-index: 1;
    color: cornsilk;
    align-self: center;
    margin: 0.5rem;
    font-family: "textFont";
    font-size: 0.8rem;
}

fieldset {
    z-index: 1;
    padding: 0 30px 30px 30px;
    margin: 1rem 0;
    border: 2px solid cornsilk;
    border-radius: 20px;
}

legend {
    z-index: 1;
    color: cornsilk;
    font-weight: bold;
    padding: 0.3rem;
}

label {
    z-index: 1;
    margin: 5px;
    display: block;
}

label.inline {
    z-index: 1;
    display: inline;
    margin: 0.7rem 0;
    margin-right: 3rem;
    align-content: center;
    
}
.buttons {
    display:flex;
    justify-content: center;
    align-content: center;
}


input, textarea, select, option {
    z-index: 1;
    background-color: black;
    color: cornsilk;
    padding: 0.5rem;
    /*font-size: 16px;*/
}

input, textarea, select {
    padding: 0.3rem;
    z-index: 1;
    border: 1px solid cornsilk;
    border-radius: 20px;
    width: 98%;
    margin: 0.3rem 0;
    /*box-shadow: 1px 1px 2px cornsilk inset;*/
}

input[type=radio] {
    z-index: 1;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    margin: 0.5rem;
}
.submit {
    width: 100%;
    display: flex;
    justify-content: center;
}
input[type=submit] {
    font-family: "textFont";
    z-index: 1;
    width: 5rem;
    height: 2rem;
    margin: 0.5rem;
    box-shadow: 2px 2px 2px cornsilk;
    cursor: pointer;
    /*background-color: rgb(7, 0, 0, 0.3);*/
    color: cornsilk;
    border: 2px solid cornsilk;
  
}
.para {
    z-index: 1;
    text-align: justify;
    margin-top: 5px;
}


@media screen and (min-width: 600px) {
    .maincontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.3rem;
        line-height: 1.6rem;
        margin-top: 5rem;
    }

    .cpictures {
        display: flex;
        flex-direction: column;
        height: 80vw;
        width: auto;
        margin-left: 3rem;
        border: none;
    }

    .cpictures img {
        max-width: 25vw;
        height: auto;
    }
    .textformcontainer {
        display: flex;
        flex-direction: column;
        margin: 5rem;
    }
    .ctext {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 3px solid cornsilk(204, 89, 12, 0.705);
        border-left: 3px solid cornsilk(204, 89, 12, 0.705);
        border-bottom-left-radius: 20px;
        overflow:visible;
        width: auto;
        height: auto;
        margin: 0;
        padding: 1rem;
        
        
    }
    .ctext p {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    .formulary {
       margin: 0;
       margin-top: 3rem;
       padding: 0;
       width: 100%;
    }

    fieldset {
        margin: 1rem 0
    }

    textarea {
        width: 95%;
        height: 10em;
        background-color: rgb(7, 0, 0, 0.3);
        color: cornsilk;
        padding: 1rem;
        font-size: 20px;
    }

    h1 {
        font-size: 4rem;
        margin: 8rem 0 3rem 0;
    }
    .para, .para2, .para3, .para4 {
        font-size: 1.3rem;
        line-height: 1.6rem;
        margin-top: 2%;
    }
    
    label.inline {
        margin: 1rem 6rem 1rem 1rem;
        font-size: 1.3rem;
    
    }
    input[type=radio] {
        margin: 1rem 0;
        border: 0px;
        width: 40px;
        height: 30px;
    }
    #utilise {
        font-size: 1.3rem;
        line-height: 1.6rem;
        width:20%;
        text-align: center;
        font-weight: bold;
        background-color: black;
        color: cornsilk;
        margin: 1rem;
    }
    #emailabout {
        height: 25px;
        width: 50%;
        font-size: 20px;
        background-color: rgb(7, 0, 0, 0.3);
        color: cornsilk;
        padding: 0.5rem;
        margin: 1rem;
        
    }
    input[type=submit] {
        width: 8rem;
        height: 3rem;
        font-size: 1.3rem;
    }
    textarea {
        margin: 1rem;
    }
    .title {
        font-size: 2em;
    }
    
}
