@font-face {
    font-family: "titleFont";
    src: url("./font/ethnocentric\ rg.ttf") format("woff2");
}

* {
    margin: 0;
    font-family: "titleFont";
    overflow-x: hidden;
}

.menu {
    position: absolute;
    height: auto;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.menu-navigation {
    height: 3rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    display: none;
    z-index: 2;
}

.menu-burger {
    margin: 0 0 3rem 0;
    padding: 0;
    height: 3rem;
    width: 3rem;
    z-index: 2;
    opacity: 0.7;
    cursor: pointer;
    fill: white;
}

.menu-navigation p {
    position: relative;
    z-index: 1;
    color: white;
    padding-right: 0.5rem;
    opacity: 0.7;
    cursor: pointer;
}

.planets-container {
    margin-top: 20%;
    height: 100%;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: visible;
}

#sun {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 150vw;
    height: auto;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 800px) {
    .menu {
        position: absolute;
        height: auto;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: center;
    }

    .menu-burger {
        margin: 0;
        padding: 0;
        height: 3rem;
        width: 3rem;
        z-index: 1;
        opacity: 0.7;
        cursor: pointer;
        fill: white;
    }

    .menu-burger:hover {
        fill: red;
    }

    .menu-navigation {
        height: 3rem;
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        display: none;
        z-index: 1;
    }

    .menu-navigation p {
        z-index: 1;
        color: white;
        padding: 0;
        opacity: 0.7;
        cursor: pointer;
    }

    .menu-navigation p:hover {
        color: red;
        margin-top: 0.5rem;
    }

    .planets-container {
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

    }
    /*.planets-container {
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        display: grid;
        grid-template-columns: 7rem repeat(9, auto) 4rem;
        grid-template-rows: repeat(8, 1fr);
        !**
            p = mercury
            v = venus
            e = earth
            m = mars
            j = jupiter
            s = saturn
            u = uranus
            n = neptune **!
        grid-template-areas:
                " . . . . . . . . . . . . "
                " . p . . . j j . . . . . "
                " . . . . . j j . . n n . "
                " . . . e . . . . . n n . "
                " . . . . . . s s . . . . "
                " . . v . . . s s u u . . "
                " . . . . m . . . u u . . "
                " . . . . . . . . . . . . ";
        justify-items: center;
        align-items: center
    }*/
    #sun {
        left: 0;
        top: 0;
        padding: 0;
        margin: 0;
        position: fixed;
        z-index: 1;
        height: 100vh;
        width: auto;
    }

    /*   #mercury {
           grid-area: p;
       }
       #venus {
           grid-area: v;
       }
       #earth {
           grid-area: e;
       }
       #mars {
           grid-area: m;
       }
       #jupiter {
           grid-area: j;
           justify-self: right;
       }
       #saturn {
           grid-area: s;
           justify-self: right;
       }
       #uranus {
           grid-area: u;
           justify-self: center;
           align-self: end;
       }
       #neptune {
           grid-area: n;
           justify-self: center;
           align-self: start;
       }*/
}
