@font-face {
    font-family: "titleFont";
    src: url("./font/ethnocentric\ rg.ttf") format("woff2");
}

* {
    margin: 0;
    font-family: "titleFont", "sans-serif";
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: cornsilk;
    padding: 0.5rem;
}

.menu {
    position: absolute;
    height: auto;
    top: 0;
    right: 0;
    display: flex;
}

.menu-burger {
    margin: 0 0 3rem 0;
    padding: 0;
    height: 3rem;
    width: 3rem;
    z-index: 2;
    opacity: 0.7;
    cursor: pointer;
    fill: white;
}

.home {
    display: none;
}

.home.homeMenu {
    padding: 0.5rem;
    font-size: 1rem;
    z-index: 2;
    cursor: pointer;
    grid-area: home;
    justify-self: end;
    align-self: center;
    display: block;
    animation: opacity 250ms;
}

.about {
    display: none;
}

.about.aboutMenu {
    padding: 0.5rem;
    font-size: 1rem;
    z-index: 2;
    cursor: pointer;
    grid-area: about;
    justify-self: start;
    align-self: center;
    display: block;
    animation: opacity 250ms;
}

#sun {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.planets-container {
    margin-top: 0;
    height: 100%;
    color: white;
    display: grid;
    grid-template-rows: 7rem repeat(8, auto);
    grid-template-columns: auto auto auto;
    /**
        p = mercure
        e = earth
        v = venus
        m = mars
        j = jupiter
        s = saturn
        n = neptune
        u = uranus **/
    grid-template-areas:
                " home menu about"
                " mercuryv mercuryr mercuryt "
                " venusv venusr venust  "
                " earthv earthr eartht "
                " marsv marsr marst "
                " jupiterv jupiterr jupitert "
                " saturnv saturnr saturnt "
                " uranusv uranusr uranust "
                " neptunev  neptuner neptunet ";
    justify-items: center;
    align-items: center;
    overflow: visible;
}

#mercury {
    grid-area: mercuryr;
}

#venus {
    grid-area: venusr;
}

#earth {
    grid-area: earthr;
}

#mars {
    grid-area: marsr;
}

#jupiter {
    grid-area: jupiterr;
}

#saturn {
    grid-area: saturnr;
}

#uranus {
    grid-area: uranusr;
}

#neptune {
    grid-area: neptuner;
}

.planetName {
    z-index: 3;
    display: none;
}

.planets-container.planetMenuMobile > div {
    width: 6.5rem !important;
    height: 6.5rem !important;
    justify-self: end;
}


/*breakpoint*/
@media only screen and (min-width: 1100px) {
    .menu {
        position: absolute;
        height: auto;
        top: 0;
        right: 0;
    }

    .menu-burger {
        margin: 0;
        padding: 0;
        height: 3rem;
        width: 3rem;
        z-index: 1;
        opacity: 0.7;
        cursor: pointer;
        fill: white;
        display: none;
    }

    .home {
        z-index: 2;
        cursor: pointer;
        justify-self: end;
        grid-area: uranust;
        align-self: start;
        display: block;
    }

    .about {
        z-index: 2;
        cursor: pointer;
        justify-self: center;
        grid-area: neptunet;
        align-self: start;
        display: block;
    }


    #sun {
        left: 0;
        top: 0;
        padding: 0;
        margin: 0;
        position: fixed;
        z-index: 1;
        height: 100vh;
        width: auto;
    }

    .planets-container {
        width: 100vw;
        height: 95vh;
        margin-top: 0;
        display: grid;
        grid-template-rows: 32% auto 32%;
        grid-template-columns: auto 8rem repeat(7, auto) 2rem;
        /**
            p = mercure
            e = earth
            v = venus
            m = mars
            j = jupiter
            s = saturn
            n = neptune
            u = uranus **/
        grid-template-areas:
                " . mercuryt venust eartht marst jupitert saturnt uranust neptunet . "
                " . mercuryr venusr earthr marsr jupiterr saturnr uranusr neptuner . "
                " . . . . . . . . . . ";
        justify-items: center;
    }

    .planetName {
        z-index: 3;
        display: block;
        align-self: end;
        grid-area: ps;
    }

    #mercury {
        grid-area: mercuryr;
    }

    #venus {
        grid-area: venusr;
    }

    #earth {
        grid-area: earthr;
    }

    #mars {
        grid-area: marsr;
    }

    #jupiter {
        grid-area: jupiterr;
    }

    #saturn {
        grid-area: saturnr;
    }

    #uranus {
        grid-area: uranusr;
    }

    #neptune {
        grid-area: neptuner;
    }


}

@media only screen and (min-width: 1500px) {
    .planets-container {
        width: 100vw;
        height: 95vh;
        grid-template-rows: 28% auto 28%;
        margin-top: 0;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



