@font-face {
     font-family: "titleFont";
     src: url("./font/ethnocentric\ rg.ttf") format("woff2");
}
@font-face {
     font-family: "textFont";
     src: "./font/Anita\ semi\ square.ttf";
}

* {
     padding: 0;
     margin: 0;
}
.main-container {
     display: flex;
     flex-direction: column;
}
.mainpage {
     display: flex;
     flex-direction: column;
     background-color: black;
     color: cornsilk;
     font-size: 0.8rem;
     font-family: "textFont";
}
h1 {
     font-family: "titleFont";
     font-size: 2rem;
     text-align: center;
     width: 100%;
     margin-top: 1rem;
     margin-bottom: 1rem;
     z-index: 2;
}
.sectionInfos {
     display: grid;
     grid-template-areas:
          " a b "
          " c c ";
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     z-index: 2;
     font-family: "textFont";
}
.characteristicsBloc {
     grid-area: b;
     justify-self: left;
     align-self: center;
     border-left: 2px solid rgba(204, 89, 12, 0.705);
     border-radius: 20px;
     line-height: 1.3rem;
     font-size: 0.6rem;
     margin: 0rem;
     padding: 0.2rem;
}
sup {
     font-size: 0.4rem;
     line-height: 1rem;
}
ul {
     padding-left: 0.5rem;
}
li {
     list-style-type: none;
}
.presentationBloc {
     margin: 0.5rem 0;
     grid-area: c;
     justify-self: center;
     align-self: center;
     padding: 0rem 0rem 0rem 0rem;
     border-bottom: 2px solid rgba(204, 89, 12, 0.705);
     border-left: 2px solid rgba(204, 89, 12, 0.705);
     border-radius: 20px 0 10px 20px;
     line-height: 1.2rem;
     width: 96%;
     height: 315px;
     overflow: scroll;
}
.presentationBloc p{
     padding: 0.6rem 0 0 0.5rem;
}
.news h2 {
     padding: 1rem 0 1rem 0.5rem;
}
.news {
     z-index: 2;
     margin: 0.3rem;
}
.articles {
     border: 2px solid rgba(204, 89, 12, 0.705);
     border-radius: 20px;
     padding: 0.4rem;
     margin-bottom: 1rem;
     display: grid;
     grid-template-areas:
          " d e "
          " d f ";
}
.imgNews {
     grid-area: d;
     width: 70px;
     height: 70px;
     border-radius: 15px;  
     align-self: center;
}
h3 {
     grid-area: e;
     font-weight: bold;
     margin-left: 1rem;
     align-self: center;
     font-size: 0.8rem;
}
.textNews {
     grid-area: f;
     margin-left: 1.8rem;
     font-size: 0.7rem;
     font-weight: 1rem;
     align-self: baseline;
}

@media only screen and (min-width: 500px) {
     .characteristicsBloc {
          justify-self: center;
          line-height: 1.8rem;
          font-size: 1em;
     }

     .planet {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          z-index: 1;
          width: 5rem;
      }
}

@media only screen and (min-width: 700px) {
     h1 {
          font-size: 3rem;
     }
     .sectionInfos {
          margin: 1rem;
     }
     .characteristicsBloc {
          padding: 0.5rem;
     }
     .presentationBloc {
          width: auto;
          height: auto;
          padding: 1rem;
     }
     .news {
          margin: 1rem;
     }
}

@media only screen and (min-width: 1200px) {
     .mainpage {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          font-size: 0.8rem;
          line-height: 1.2rem;
     }
     h1 {
          font-size: 4rem;
          margin: 8rem 0 6rem 0;
     }
     .sectionInfos {
          grid-template-areas: " b a " " c c ";
          margin: 1.2rem;
          align-self: flex-start;
     }
     .characteristicsBloc {
          border-left: 3px solid rgba(204, 89, 12, 0.705);
          padding: 1rem;
     }
     .presentationBloc {
          border-bottom: 3px solid rgba(204, 89, 12, 0.705);
          border-left: 3px solid rgba(204, 89, 12, 0.705);
          width: auto;
          height: auto;
          overflow: initial;
          padding: 0 0 1rem 1rem;
     }
     .sectionInfos {
          flex: 1.5;
          margin: 0 1.3rem 0 1.3rem;
     }
     .news {
          flex: 1;
          align-self:flex-start;
          margin: 8rem 1.3rem 1.3rem 1.3rem;
     }
     .news h2 {
          padding: 1rem 0 2rem 0.5rem;
     }
     .articles {
          margin-bottom: 2rem;
     }
  }

@media only screen and (min-width: 1500px) {
     .mainpage {
          font-size: 1.3rem;
     }
     h1 {
          font-size: 4.5rem;
          
     }
     .sectionInfos {
          flex: 1;   
     }
     .characteristicsBloc {
          line-height: 2rem; 
     }
     .presentationBloc {
          line-height: 1.6rem;
     }
     .news {
          flex: 1;   
     }
     .imgNews {
          width: 150px;
          height: 150px; 
          margin: 0.8rem;
     }
     h3 {
          margin-left: 1.5rem; 
          margin-top: 1rem;
          font-size: 1.3rem; 
          align-self: center;   
     }
     .textNews {
          margin-left: 3rem;
          font-size: 1.2rem; 
          line-height: 1.5rem;
          align-self: baseline;
     }
}