
@font-face {
     font-family: "titleFont";
     src: url("/styles/font/ethnocentric\ rg.ttf") format("woff2");
}
@font-face {
     font-family: "textFont";
     src: url("/styles/font/Anita\ semi\ square.ttf");
}

* {
     padding: 0;
     margin: 0;
}


.container {
     display: flex;
     flex-direction: column;
     margin: 2%;
     z-index: 1;
}
.cpictures {
     z-index: 1;
     display: flex;
     justify-content: space-evenly;
     margin-top: 3%;
     margin-bottom: 5%;
     margin-right: 3%;
     margin-left: 3%;
     padding-top: 5%;
     padding-bottom: 10%;
     border-top: 1px solid rgba(204, 89, 12, 0.705);
     border-right: 1px solid rgba(204, 89, 12, 0.705);
     border-top-right-radius: 5%;
     border-bottom-right-radius: %;
     border-top-left-radius: 10%;
}
.cpictures img{
     max-width: 40vw;
     height: auto;
     border-radius: 50%;
     
}

 
 
 
 
 
.ctext {
     z-index: 1;
     font-family: "textFont";
     color: cornsilk;
     text-align: left;
     /*text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;*/
     margin-left: 2%;
     margin-right: 3%;
     padding-left: 2%;
     border-left: 1px solid rgba(204, 89, 12, 0.705);
     border-bottom: 1px solid rgba(204, 89, 12, 0.705);
     
     
}
.ctext p {
     padding-left: 0.3rem;
}
h1 {
     z-index: 1;
     position: relative;
     color: cornsilk;
     font-family: "titleFont";
     text-align: center;
     text-transform: capitalize;
     margin-top: 2%;
}
form {    
     padding:10px;
     width: 250px;
     }
fieldset {
     padding:0 20px 20px 20px;
     margin-bottom:10px;
     border:1px solid rgba(204, 89, 12, 0.705);
     }
legend {
     color:rgba(204, 89, 12, 0.705);
     font-weight:bold
     }
label {
     margin-top:10px;
     display:block;
     }
label.inline {
     display:inline;
     margin: right 25px;
     }
input, textarea, select, option {
     background-color:#FFF3F3;
     }
input, textarea, select {
     padding:3px;
     border:1px solid #F5C5C5;
     border-radius:5px;
     width:200px;
     box-shadow:1px 1px 2px #C0C0C0 inset;
     }
select {
     margin-top:10px;
     }
input[type=radio] {
     background-color:transparent;
     border:none;
     width:10px;
     }
input[type=submit], input[type=reset] {
     width: 60px;
     margin: left 20px;
     box-shadow:1px 1px 1px #D83F3D;
     cursor:pointer;
     }
/*@media (max-width: 480px) {
    .cpictures img {
        width: 150px;
        height: auto;
        display: flex;
        justify-content: space-e;
        margin-top: 3%;
        margin-bottom: 10%;
    }
        
    }
  }*/
@media screen and (min-width: 600px) {
     .container {
          display: flex;
          flex-direction: row;
          margin-top: 5%;
     }
     .cpictures {
          display: flex;
          flex-direction: column;
          height: 60vw;
          width: auto;
          padding-right: 3%;
          margin-top: 0;
          border: none;
     }
     .cpictures img {
          max-width: 25vw;
          height: auto;
     }
     
     .ctext {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-bottom: 3px solid rgba(204, 89, 12, 0.705);
          border-left: 3px solid rgba(204, 89, 12, 0.705);
     }
     form {   
          margin-top: 5%;
          padding:5%;
          width: 500px;     
     }
     textarea {
          width: 450px;
          height: 450px;
     }
     h1 {
          margin-top: 4%;
     }
        
}
