@font-face {
     font-family: "myFont";
     src: url("/styles/font/ethnocentric\ rg.ttf") format("woff2");
 }

* {
     margin: 0;
     font-family: "myFont";
}

.planets-container {
     margin-top: 25%;
     height: 100%;
     background-color: black;
     color: white;
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
}

#sun {
     z-index: 1;
     position: absolute;
     top: -90%;
     width: 200%;
     height: auto;
     margin: 0;
     padding: 0;
}

@media only screen and (min-width: 600px) {
     .planets-container {
          height: 100vh;
          margin-top: 0;
          display: grid;
          grid-template-rows: repeat(6, 1fr);
          grid-template-columns: repeat(7, 1fr);
          /**
          e = earth
          v = venus
          m = mars
          j = jupiter
          r = sun
          p = mercure
          s = saturn
          n = neptune
          u = uranus **/
          grid-template-areas:
               ". . e . m . JP"
               ". v r r r j j"
               ". p r r r j j"
               ". . r r r s s"
               "n n . u u s s"
               "n n . u u . .";
          justify-items: center;
          align-items: center;
          justify-content: center;
          align-content: center;
     }

     #sun {
          position: relative;
          z-index: 1;
          grid-area: r;
          top: 0;
          width: auto;
          height: auto;
     }
     #mercury {
          grid-area: p;
          align-self: end;
          justify-self: end;
     }

     #venus {
          grid-area: v;

     }
     #earth {
          grid-area: e;
     }
     #mars {
          grid-area: m;
     }
     #jupiter {
          grid-area: j;
          align-self: end;
          justify-self: start;
     }
     #jupiter-p {
          color: lightgreen;
          font-size: 2rem;
          width: min-content;
          height: min-content;
          z-index: 2;
          border-left: 1px solid lightgreen;
          border-bottom: 3px solid lightgreen;
          padding: 0.5rem;
          border-radius: 0.8rem;
          grid-area: JP;
          align-self: center;
          justify-self: start;
     }
     #saturn {
          grid-area: s;
          align-self: start;
          justify-self: start;
          /* display: flex;
          flex-direction: row-reverse; */

     }
     #saturn-p {
          color: lightgreen;
          font-size: 2rem;
          width: min-content;
          height: min-content;
          z-index: 2;
          border-left: 1px solid lightgreen;
          border-bottom: 3px solid lightgreen;
          padding: 0.5rem;
          border-radius: 0.8rem;
          grid-area: s;
          align-self: stretch;
          justify-self: end;
     }
     #uranus {
          grid-area: u;
     }
     #neptune {
          grid-area: n;
     }

}
